streamlit>=1.25.0
pandas>=1.5.0
numpy>=1.23.0
scikit-learn>=1.5.0
plotly>=5.10.0
joblib>=1.2.0
python-dateutil>=2.8.0
scipy>=1.9.0

# Опциональные, но рекомендуемые библиотеки для моделей
xgboost
lightgbm
catboost
xlsxwriter
